
/* Import der Typografie von Webfonts */

@import url('https://fonts.googleapis.com/css?family=Kanit:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Noto+Sans+HK:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


h1, h2, h3{
    font-family: "poppins";
    letter-spacing: 0.7px;
    font-weight: 700;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.7em;
}

h3{
    font-size: 1.4em;
}

p{
    font-family: "poppins";
    font-weight: 300;
    font-size: 1rem;
}




